.centered
{
  text-align: center;
}

.bold
{
    font-weight: bold;
}

.xxlarge
{
    font-size: xx-large;
}

.large
{
    font-size: large;
}

.medium
{
    font-size: medium;
}

.small
{
    font-size: small;
}

